
.note{
    display:inline-flex;
    flex-direction: row;
    align-items: flex-start;    
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 15px;
    
    mat-card{
        width: 150px;
        height: 150px;
        background-color: rgb(90, 57, 235);
        mat-card-content{
            font-size: 13px;
        }
    }
}